@font-face {
  font-family: "Exocet";
  src: url(EXOCET.ttf);
}

body {
  background-color: beige;
  font-family: "Exocet", serif;
  margin: 0;
  padding: 0;
}

.title {
  background-color: beige;
  position: sticky;
  top: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.title h1 {
  margin: 0;
  padding-top: 21px;
  padding-bottom: 13px;
}

.header {
  text-align: center;
}

.header a {
  font-style: italic;
  position: absolute;
  margin: 8px;
}

@media (max-width: 640px) {
  .header a {
    display: none;
  }
}

.header a:nth-of-type(1) {
  left: 0;
}

.header a:nth-of-type(2) {
  right: 0;
}

a {
  color: rgb(153, 51, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  font-variant: small-caps;
}

.container {
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
  }
}

.container td {
  vertical-align: top;
}

.container h2 {
  margin-top: 0em;
}

#available, #possible {
  margin: 1em;
  padding: 1em;
}

#available {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
  height: fit-content;
  position: sticky;
  top: 104px;
}

@media (max-width: 640px) {
  #available {
    position: unset;
    top: unset;
  }
}

#inputs input {
  font-family: "Exocet", serif;
  margin-left: 0.5em;
  width: 3em;
}

#clear {
  font-family: "Exocet", serif;
  margin-top: 0.25em;
}

#possible {
  max-width: 44em;
}

.ladder-only td:first-of-type em:last-of-type {
  color: blue;
}

.missing {
  color: red;
}

#results td:nth-of-type(1) {
  min-width: 8em;
  text-align: center;
}

#results ul {
  margin: 0em;
}

#results h3 {
  margin: 0em;
}

#results p {
  margin: 0.5em;
}
