@font-face {
  font-family: "Exocet";
  src: url(https://vignette.wikia.nocookie.net/diablo/images/9/9e/EXOCET.ttf);
}

body {
  background-color: beige;
  font-family: "Exocet", sans-serif;
}

.header {
  text-align: center;
}

.header a {
  font-style: italic;
  position: absolute;
  top: 0.25em;
}

.header a:nth-of-type(1) {
  left: 1em;
}

.header a:nth-of-type(2) {
  right: 1em;
}

a {
  color: rgb(153, 51, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  font-variant: small-caps;
}

.container {
  margin: auto;
}

.container td {
  vertical-align: top;
}

.container h2 {
  margin-top: 0em;
}

#available, #possible {
  margin: 1em;
  padding: 1em;
}

#available {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
}

#inputs input {
  font-family: "Exocet", sans-serif;
  margin-left: 0.5em;
  width: 3em;
}

#clear {
  margin-top: 0.25em;
}

#possible {
  max-width: 44em;
}

.ladder-only {
  opacity: 0.25;
}

.missing {
  color: red;
}

#results td:nth-of-type(1) {
  min-width: 8em;
  text-align: center;
}

#results ul {
  margin: 0em;
}

#results h3 {
  margin: 0em;
}

#results p {
  margin: 0.5em;
}

#red-note {
  max-width: 32em;
}
